@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E5F2FE;
  background-image: url("./../img/bg-lines.svg");
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title-1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000;
  text-transform: capitalize;
}

.title-2 {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000;
  text-transform: capitalize;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.dashboard {
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #202020;
}

.dashboard__nav {
  width: 138px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 75px;
}

.dashboard__body {
  border-radius: 45px;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 19px;
  padding: 26px 56px 54px 68px;
}

.dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.dashboard__header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__header-icons > * + * {
  margin-left: 16px;
}

.dashboard__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard__cards > * + * {
  margin-left: 16px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav__logo {
  margin-bottom: 132px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__icons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.nav__icons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

ul.nav__icons-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
}

ul.nav__icons-list li:last-child {
  margin-bottom: 0;
}

ul.nav__icons-list li.nav__icons-list-last-icon {
  margin-top: auto;
}

ul.nav__icons-list a {
  text-decoration: none;
}

.logo {
  text-decoration: none;
}

.header-icon {
  background: #F2F5FA;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.header-icon:hover {
  background-color: #c9cbce;
}

.header-icon--new {
  position: relative;
}

.header-icon--new::before {
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #FF5E5E;
  border: 2px solid #fff;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.user-profile {
  background: #F2F5FA;
  border-radius: 27px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile:hover {
  background-color: #c9cbce;
}

.user-profile__avatar {
  margin-top: -16px;
  margin-left: 4px;
  margin-right: 6px;
}

.user-profile__nav-button {
  position: relative;
  padding-right: 41px;
}

.user-profile__nav-button::after {
  position: absolute;
  right: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: '';
  background-image: url(./../../img/arr-down.svg);
  width: 12px;
  height: 7px;
}

.portfolio__header {
  margin-bottom: 24px;
}

.portfolio__card {
  width: 486px;
  height: 244px;
  background: #E5F2FE;
  padding: 26px 28px 25px 35px;
  position: relative;
  border-radius: 24px;
}

.balance-card__balance-value {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 5px;
}

.balance-card__balance-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
}

.balance-card__settings {
  height: 22px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 37px;
  right: 28px;
}

.balance-card__periods {
  position: absolute;
  bottom: 25px;
  left: 34px;
}

.balance-card__periods > * + * {
  margin-left: 24px;
}

.balance-card__period-btn {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ACBCCD;
}

.balance-card__period-btn--active {
  color: #040404;
}

.balance-card__chart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 27px;
}

.icon-show-more, .icon-show-more::before, .icon-show-more::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #A0A9B2;
}

.icon-show-more {
  position: relative;
}

.icon-show-more::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
}

.icon-show-more::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
}
/*# sourceMappingURL=main.css.map */