@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$blue-color: #E5F2FE;
$main-font: 'Poppins', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $main-font; 
}

body {
    background-color: $blue-color;
    background-image: url('./../img/bg-lines.svg');
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}