.title-1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
    text-transform: capitalize;
}

.title-2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
    text-transform: capitalize;
}

.title-3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
    text-transform: capitalize;
}

