.dashboard {
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    border-radius: 50px;

    display: flex;

    background: #202020;
}

.dashboard__nav {
    width: 138px;
    flex-shrink: 0;
    padding-top: 40px;
    padding-bottom: 75px;
}

.dashboard__body {
    border-radius: 45px;
    background-color: #fff;
    flex-grow: 1;
    margin: 19px;

    padding: 26px 56px 54px 68px;
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.dashboard__header-icons {
    display: flex;

    &>*+* {
        margin-left: 16px;
    }
}

.dashboard__cards {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    margin-bottom: 49px;

    &>*+* {
        margin-left: 16px;
    }
}

.dashboard__market {
    display: flex;

    & > * + * {
       margin-left: 20px; 
    }
}